<!DOCTYPE html>
<!--
  Name: Shauna Ayscue
  Date: 05.05.2025
  CSC 372-01

  This is the login.ejs page for the Book Haven website to login.
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="../scripts/log-scripts.js" defer></script>
</head>

<body>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        Email: <input type="email" name="email" required><br>
        Password: <input type="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>

    <a href="/auth/google" class="button-link">Login with Google</a>    <p>Don't have an account? <a href="/auth/signup">Sign Up</a></p>
</body>

</html>